@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure App Service with Visual Studio</h1>
    <h1>First commit</h1>
</div>
